.font_manrope {
    font-family: "Manrope", sans-serif
}

/* .bg-img {
    background-image: url(../assets/bg.jpg);
} */

/* mediam16 :manrope font-medium text-base
    extrabold20 : manrope font-extrabold text-xl
    bold40 : manrope font-bold text-4xl
*/